* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Media Query Start */
@media (max-width: 768px) {
  body {
    width: 100%;
  }

  * {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .status-bar {
    display: none;
    width: 100%;
    height: 30px;
    background-color: #272a31;
  }

  .status-bar ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 20px;
  }

  .status-bar ul a {
    color: white;
  }

  /* Header Section start */
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 465px;
    background-image: url('https://cdn.pixabay.com/photo/2022/07/08/05/38/freelance-work-7308505_1280.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    gap: 10px;
    z-index: 2;
    text-align: center;
  }

  .logo {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    padding: 10px;
    justify-content: space-between;
    color: #272a31;
  }

  .menu-items {
    display: none;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .x-icon {
    display: none;
  }

  .menu-items li {
    border: 1px solid gray;
  }

  .header-title {
    color: rgb(210, 8, 8);
    margin-left: 10px;
  }

  .header-desc {
    font-size: 20px;
    margin: 10px;
    border: 0.5px solid gray;
    background-color: #f4f0f0;
    color: #272a31;
    padding: 10px;
    margin-top: 210px;
    font-weight: bold;
  }

  .sub-desc {
    font-weight: bold;
  }

  .underline {
    color: #272a31;
    font-weight: bold;
    text-decoration: underline;
  }

  /* Header Section start */

  /* About Section Start */
  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
  }

  .about-logo {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    height: auto;
    gap: 20px;
  }

  .row {
    align-items: center;
    width: 40px;
    height: 1px;
    background-color: #ec5242;
  }

  .about-logo img {
    width: 300px;
    height: 100px;
  }

  .line {
    margin-top: 30px;
    width: 100%;
    height: 1px;
    background-color: #828282;
  }

  .see-past {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 20px;
    align-items: center;
    gap: 20px;
  }

  .see-past img {
    width: 100%;
    height: 200px;
  }

  /* About Section End */

  /* Top Technologies Start  */
  .top-lang {
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #272a31;
  }

  .top-lang h2 {
    color: white;
    text-align: center;
    padding: 10px;
  }

  .top-lang .card {
    width: 100%;
    height: auto;
    margin-top: 5px;
    background-color: rgba(128, 127, 127, 0.1921568627);
  }

  .top-lang .card-body {
    max-width: 400px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1px;
    background-color: rgba(128, 127, 127, 0.1921568627);
    border-radius: 8px;
    margin: 0 auto;
  }

  .top-lang .card-body img {
    width: 68px;
    height: 68px;
    background-color: transparent;
    display: flex;
    border-radius: 50%;
    margin: 0 auto;
  }

  .card-desc h2 {
    font-size: 20px;
  }

  .top-lang .card-body h2 {
    color: #ec5242;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: bold;
  }

  .top-lang .card-body p {
    color: white;
    font-size: 15px;
    font-weight: 300;
    max-width: 176px;
    margin: 0 auto;
  }

  .btn-join {
    padding: 20px;
    align-items: center;
    background-color: #ec5242;
    color: white;
    text-align: center;
    margin: 20px;
  }

  /* Top Technologies End  */

  /* Top Developer Section Start */
  .top-develop {
    display: flex;
    flex-direction: column;
    gap: 80px;
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .develop-title {
    color: black;
    text-align: center;
  }

  .top-develop .card {
    width: 100%;
    height: 70px;
    padding: 10px;
  }

  .top-develop .card-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .top-develop .card-body img {
    width: 40px;
    height: 80px;
    border-radius: 10px;
    flex: 1;
  }

  .top-develop .card-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 10px;
  }

  .div-card-line {
    width: 45px;
    height: 1px;
    background-color: #aca9a9;
  }

  .card-desc .desc {
    color: #ec5242;
    font-style: italic;
  }

  .top-develop .btn-more {
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
    border-radius: 5px;
  }

  .btn-more i {
    color: #ec5242;
  }

  /* Top Developer Section End */

  /* Partner Section Start */
  .partner {
    background-color: #272a31;
    padding: 5px;
    margin-top: 10px;
    font-size: 25px;
    color: #828282;
    text-transform: uppercase;
    font-weight: bold;
  }

  .container {
    max-width: 90%;
    margin: 0 auto;
  }

  .titleNumbre {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .numbersContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    gap: 20px;
  }

  /* Parnter Section End */

  /* Footer Section Start */
  footer {
    padding: 20px 0;
    text-align: center;
  }

  footer span {
    font-size: 11px;
    font-weight: bold;
    color: #272a31;
    text-align: center;
  }

  /* Footer Section End */
}

/* Media Query End */
